{{page-title "CreateRecipe"}}
<h1>Create Recipe</h1>
<form>

<div class="form-group">
    <label>
        Title
    </label>
    <input type="text" {{on "change" this.updateTitle }} value="{{this.title}}" />
</div>

<div class="form-group">
    <label>
        Description
    </label>
    <input type="text" {{on "change" this.updateDescription }} value="{{this.description}}" />
</div>
<div class="form-group">
    <label>
        Ingredients (Comma seperated)
    </label>
    <input type="text" {{on "change" this.updateIngredients }} value="{{this.ingredients}}" />
</div>
<div class="form-group">
    <label>
        Instructions
    </label>
    <textarea {{on "change" this.updateInstructions }} value="{{this.instructions}}"></textarea>

</div>

<div class="text-center">
    <button type="submit" {{on "click" this.createRecipe }}>Create Recipe</button>
</div>
</form>